#main-wrapper{  
    width: 1100px;  
     margin: 0 auto;  
    padding: 15px;  
}  
#searchdiv {  
padding : 50px 0 0 300px;   
}  
#searchhere {  
  padding-right: 40px;    
  font-size: 19px;  
}  
#searchtxt {   
  width:150px;  
}  


.searchresult_wrapper{ position:relative;}

#searchresult{  
padding: 10px;
  /* padding-left: 0; */
  width: 180px;
  margin-top: -10px;
  height: 200px;
  overflow-x: scroll;
  background-color: #fff;
  position:absolute;
  top:49px;
  left:0;
  z-index:2;
}  
  
#fbresult{  
padding: 5px 10px 0 0px;   
width: 100%;  
font-size:14px;  
}  
  
.link{  
cursor: pointer;    
}  
  
.userimg img{  
 width: 50px;  
 height: 30px;  
}  
  
.name{  
vertical-align: top;  
}  
.horizontal{  
    border: 1px solid #fff;   
    width: 100%;  
    
}  
  
#mylbl{  
padding-left: 26%;     
font-size: 20px;  
font-weight: bold;  
}  
  
#noresult{  
  width: 300px;    
  padding-left: 5px;  
}  

.link{ font-size:14px; line-height:18px; color:#333;}