@charset "utf-8";
/*----- Default css style -------*/



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
body{font-family: 'Open Sans', sans-serif; font-size:16px; background:#d8d6d8;}
.clear{width:100%; float:left; height:1px; line-height:0;}
.container-outer { overflow-y: auto; width: 100%; height: auto; }
.container-inner { width: 100%; }
hr { height:1px; }

/*----- Header -------*/
header{width:100%; border-top:solid 3px #ffa500; background:#3f6291; border-bottom: 1px solid #222; float:left; padding-bottom:20px;}
.header_wrapper{width:900px; margin:0 auto;}
.header_top{width:100%; float:left; padding-bottom:15px;}
.logo{width:200px; float:left; padding:10px 0 0 4px;}
.header_right{width:auto; float:right; padding:3px 0 0 0;}
.header_right ul{float:right;}
.header_right ul li, .header_right ul li a{display:inline; color:#fff; font-weight:bold; font-size:.9em;  text-decoration:none; padding:0 3px 0 3px; }
.header_right ul li{border-right:solid 1px #fff;}
.header_right ul li:last-child{border-right:none; padding-right:0;}
.header_number{font-size:1.1em; color:#fff; text-align:right; line-height:1.2em; float:right; font-weight:normal; padding-top:19px;}
.banner{width:560px; float:left; padding-top:3px;}
/*----- Logib box -------*/
.login_box{float: right; width: 298px; background-color: #F6F6F5; height: 320px;}
.login_heading{background-color: orange; font-size: .9em; font-weight: bold; padding: 10px; color:#fff; text-align:center;}
.login_box select, input {border: 1px solid #bbb; width:230px; color:#666; box-shadow: none;box-sizing: content-box; -webkit-box-sizing: content-box; border-radius: 3px;  border: 1px solid #ccc;  outline: none;  padding: 3px 1px;}	
.forgot_password a{float: right; font-size: 12px; color:#551a91; line-height: 40px; padding-right: 30px; text-decoration:none; font-weight:bold;}
.inpt_heading{padding-left: 30px; line-height: 20px; color: grey; font-size: 12px; margin-top: 5px; font-weight:bold;}
.login_box .login{color: grey; font-size: 15px; border: 1px solid #ccc; padding: 10px; padding-top: 2px; font-weight:bold; padding-bottom: 2px; text-decoration:none;}	
.login_link{padding-left: 30px; line-height: 20px; margin-top: 15px;}
.selct_optn{padding-left: 30px;  font-size: 12px;}
.box{padding-left:30px;line-height:15px;color:grey;font-size:12px;margin-top:5px;display:none; font-weight:bold;}
/*----- body main -------*/
#body_wrapper{width:900px; margin:0 auto; }
.body_main{width:100%; float:left; background:#fff; padding:0 0 5px 0;}
.body_main .heading_bg{width:100%; float:left;}
.live_event{padding-left: 10px; padding-top:15px; float:left; width:120px;}
.body_main .heading_bg .search{ padding-left:150px; float:left; padding-top:15px;  padding-bottom:15px;}
.body_main .heading_bg .search label{ font-weight:bold; font-size:.8em;}
.body_main .heading_bg .search input{ width:300px; padding:3px 5px; font-size:.9em; margin-left:5px;}
/*----- body main- table -------*/
.table_bg{width:98%; float:left; padding:10px 1%;}
.table_bg table{border:2px solid #bbb; border-spacing: 0}
.table_bg table thead th {font-size:.8em; border-bottom:solid 1px #ccc; border-right:solid 1px #ccc; padding:0 5px;}
.table_bg table thead th:last-child{border-right:none;}
.table_bg table tbody td {font-size:.7em; font-weight:bold; border-right:solid 1px #ccc; padding:15px 5px; vertical-align:middle; cursor:pointer;}
.table_bg table  tbody td:last-child{border-right:none;}
.table_bg table tr:nth-child(odd) {background: #fff;}
.table_bg table tr:nth-child(even) {background: #f6f6f6;}
.table_bg table tr:hover{background:#ddd;}
.help-block-error{color:#f00; font-size:11px;}
/*----- body main- bank icons -------*/
.participating_bank{width:98%; float:left; color: Gray;   font-size: 12px;   padding-left: 2%;    font-weight: bold;}
.bank_icon_bg{float:left; border:2px solid #bbb; border-radius:3px; width:99%;}
.bank_icon_bg li{width:19.8%; float:left; text-align:center; padding:10px 0; border-right:solid 1px #ccc; list-style:none;  border-bottom:solid 1px #ccc;}
.bank_image{width:120px;}
.bank_icon_bg li:hover{background:#ddd; cursor:pointer;}
.bank_icon_bg li:nth-child(5n) {border-right:none;}


/*----- event view -------*/
.wrapper{width:900px; margin:0 auto;}
.box-head{width:98%; float:left; padding-top: 7px; padding-left:2%; cursor:pointer; margin:15px 0 0 0; border-radius:3px; border: 1px solid #bbb;    color: #ddd;    font-size: .9em;    font-weight: 600;    text-shadow: 0 1px 0 #222; background:url(../images/box_bg.jpg) repeat-x; height:27px;}
.box-head:hover{background:url(../images/box_hover.jpg) repeat-x;}
.box-content {background: #eee; border: 1px solid #bbb; border-top: none; border-radius: 0 0 3px 3px; padding: 10px 0; width:100%; float:left;}
.row{width:98%; float:left; padding:5px 1%; margin:5px 0;}
.row p{font-size:.8em;}
.lft_heading{width:35%; float:left; text-align:right; font-size:.8em; font-weight:bold; padding-right:1%;}
.rgt_detail{width:62%; float:left; text-align:left; font-size:.8em; padding-left:1%;}
.button_grey {background: url(images/grad-overlay-s.png) #dbdbdb;    border: 1px solid #ababab; font-size:.7em; color:#000; font-weight:bold; text-decoration:none; padding:5px 10px;}
.red{color:#F00;}
.box-content select, input {border: 1px solid #bbb; font-size:1em; width:230px; color:#666; box-shadow: none;box-sizing: content-box; -webkit-box-sizing: content-box; border-radius: 3px;  border: 1px solid #ccc;  outline: none;  padding: 3px 1px;}
/*----- footer -------*/
.flogout{width: 100%; background-color: #F78D8D; text-align: center;  line-height: 30px; font-size: 14px; color:#000; font-weight: :bold; margin-top: 40px; float:left;}
footer{width:100%; text-align:center; float:left; padding:5px 0;}
footer p{color: #41ad16; font-size:.8em; font-weight:bold;}
footer p a{color: #711a8b; text-decoration:none;}
