@charset "utf-8";
/* CSS Document */
img {width: 100%; height: auto;}

@media screen and (max-width: 1300px) {
.container_13{width:99%;}	
}


@media screen and (max-width: 900px) {
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length  {display:none;}
.container_12,  .container_12 .body_main1, .body_main1{width:98%; padding:0 1%;}
.header_wrapper{width:100%;}
.header_right{width:78%;}
#body_wrapper{width:100%; }
.contact_bg{background:none;}

}

@media screen and (max-width: 800px) {
.logo{width:25%;}	
.header_right{width:70%;}
.banner_left{width:60%;}
.login_box{float: right; width: 30%; height: auto; padding-bottom:20px; margin:0 0;}	
.box-content select, input{width:85%;}
.login_box select, input{width:85%;}
.square_box{width:48%; float:left; margin-left:1%;}

}


@media screen and (max-width: 768px) {
	.container-outer { overflow-y: auto; }
	.container-inner { width: 768px; }
.logo{width:25%;}	
.header_right{width:70%;}
.banner_left{width:60%;}
.login_box{float: right; width: 35%; margin:0 1%;}	
}
@media screen and (max-width: 750px) {
.banner_left{width:60%;}
.login_box{width: 35%;}	
.bank_icon_bg li{width:33%; padding:10px 0;}
.bank_icon_bg li:nth-child(3n) {border-right:none;}
.bank_icon_bg li:nth-child(5n) {border-right:solid 1px #ccc;}
.box-head { width: 97%;}
.box-content{width:99%;}
.box-content2{width:99%;}
.row h2 a{ line-height:20px;  font-size:13px; float:left; margin-bottom:15px;     }
.lft_padding_20{padding:0; float:left;}
.lft_padding_20 p{padding:0;}
}

@media screen and (max-width: 530px) {
	.square_box{width:98%; margin-left:1%;}
	.square_box ul li{text-align:left;}
.banner_left{width:90%;margin:0 5%;}
.login_box{width: 80%; margin:0 10%;}	
.lft_heading {width: 98%;text-align: left;   padding-right: 1%;  padding-left: 1%;}
.rgt_detail{width:99%;}
.row{width:96%; padding:5px 1%; margin:3px 1%; /*background:#E0E0E0; border:solid 1px #ccc;*/ text-align: center; }
.box-head1 h2{font-size: 12px;}
.logo{width:192px; margin:0 auto; float:none;  padding:5px 0 0 0;}	
.header_right ul{float:none; width:100%; text-align:center;}
.header_number{ text-align:center; line-height:1.2em; float:left; width:100%; padding-top:10px; font-size:.9em}
.header_wrapper, .header_right{width:100%;}

}

@media screen and (max-width: 416px) {
.bank_icon_bg li{width:49.5%;}
.bank_icon_bg li:nth-child(2n) {border-right:none;}
.bank_icon_bg li:nth-child(3n) {border-right:solid 1px #ccc;}
.body_main .heading_bg .search{ padding-left:1%; float:left; padding-top:5px;  padding-bottom:10px; width:99%;}
.body_main .heading_bg .search label{ width:20%;}
.body_main .heading_bg .search input{ width:77%; padding:3px 1%; font-size:.9em; margin-left:1%;}
.error{width:100%; float:left;}
.rgt_detail > select, .rgt_detail >input, .rgt_detail > textarea{width:98%;}
table td{text-align:left;}
}

@media screen and (max-width: 360px) {
	.box-head1 h2{font-size: 12px; font-weight:normal; padding:6px 2px;}
	.flt_rgt h2{text-align:right; text-align: right; width: 51%;}
	.flt_rgt{float:right;}
.header_wrapper, .header_right{width:100%;}
.banner_left{width:90%;margin:0 5%;}
.logo{width:192px; margin:0 auto; float:none;  padding:5px 0 0 0;}	
.header_right ul{float:none; width:100%; text-align:center;}
.header_number{ text-align:center; line-height:1.2em; float:left; width:100%; padding-top:10px; font-size:.9em}
.login_box{float: left; width: 94%; margin:0 3%; padding-bottom:20px;}		
.live_event{padding-left: 5px; padding-top:10px;clear:both;}
.body_main .heading_bg .search{ padding-left:1%; float:left; padding-top:5px;  padding-bottom:10px; width:99%;}
.body_main .heading_bg .search label{ width:20%;}
.body_main .heading_bg .search input{ width:77%; padding:3px 1%; font-size:.9em; margin-left:1%;}
.bank_icon_bg li{width:49.5%; padding:10px 0;}
.bank_icon_bg li:nth-child(2n) {border-right:none;}
.bank_icon_bg li:nth-child(5n) {border-right:solid 1px #ccc;}
footer p{color: #41ad16; font-size:.8em; font-weight:bold;}
footer p span{width:100%; float:left;}
}